In [9]:
import pandas

In [10]:
df = pandas.read_csv("/home/viniciusm/Documents/python/bootcamp-dio/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv", on_bad_lines='skip',sep=';')
# on_bad_lines='skip', funciona como um substituto do error_on_bad_lines e ignora os erros da tabela
# sep=';', faz com que haja uma separação de linhas onde houver um ';'

In [11]:
df.head() # .head() faz uma listagem dos cinco primeiros itens do csv

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [12]:
df = df.rename(columns={"country":"Pais","continent":"Continente","year":"Ano","lifeExp":"Expectativa de vida","pop":"Pop Total","gdpPercap":"PIB"})
# .renamem faz a renomeação das colunas da tabela
# determinando df = df.rename faz com que a tabela receba as modificações determinadas

In [13]:
df.head(10)
# lista os 10 primeiros itens

          Pais Continente   Ano  Expectativa de vida  Pop Total         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106
5  Afghanistan       Asia  1977               38.438   14880372  786.113360
6  Afghanistan       Asia  1982               39.854   12881816  978.011439
7  Afghanistan       Asia  1987               40.822   13867957  852.395945
8  Afghanistan       Asia  1992               41.674   16317921  649.341395
9  Afghanistan       Asia  1997               41.763   22227415  635.341351

In [ ]:
df.shape()
# Retorna o total de linhas e colunas da tabela

In [ ]:
df.columns()
# Retorna as colunas presentes no csv